<ion-header>
	<ion-toolbar>
		<ion-title slot="start" text-left>
			My wallet
		</ion-title>
		<ion-buttons slot="end">
			<ion-button>
				<ion-icon name="person"></ion-icon>
			</ion-button>
		  </ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Cards</ion-card-title>
			<ion-card-subtitle>Today, 21 Jan</ion-card-subtitle>
			<ion-button shape="round" fill="outline" size="small" (click)="addCard()">+ Add</ion-button>
		</ion-card-header>

		<ion-card-content>
			<ion-slides pager="true">
				<ion-slide class="debit-card">
					<div id="balance">2,000,000<sup>.24</sup></div>
					<div>
						<img src="assets/icons/master-card-logo.svg" alt="mastercard logo">
					</div>
					<div id="card-number">1245 **** **** 7654</div>
					<div id="cvv">234</div>
				</ion-slide>
				<ion-slide class="debit-card">
					<div id="balance">2,000,000<sup>.24</sup></div>
					<div>
						<img src="assets/icons/master-card-logo.svg" alt="mastercard logo">
					</div>
					<div id="card-number">1245 **** **** 7654</div>
					<div id="cvv">234</div>
				</ion-slide>
				<ion-slide class="debit-card">
					<div id="balance">2,000,000<sup>.24</sup></div>
					<div>
						<img src="assets/icons/master-card-logo.svg" alt="mastercard logo">
					</div>
					<div id="card-number">1245 **** **** 7654</div>
					<div id="cvv">234</div>
				</ion-slide>
			</ion-slides>
		</ion-card-content>
	</ion-card>

	<ion-card>
		<ion-card-header>
			<ion-card-title>Subscriptions</ion-card-title>
		</ion-card-header>

		<ion-card-content class="remove-padding-top">
			<ion-item href="#">
				<ion-icon src="assets/icons/apple-music.svg" slot="start"></ion-icon>
				<ion-label>
					<h2>Apple Music</h2>
					<ion-text color="medium">$29/ Month</ion-text>
				</ion-label>
			</ion-item>

			<ion-item href="#">
				<ion-icon src="assets/icons/spotify.svg" slot="start"></ion-icon>
				<ion-label>
					<h2>Spotify</h2>
					<ion-text color="medium">$29/ Month</ion-text>
				</ion-label>
			</ion-item>

			<ion-item href="#">
				<ion-icon src="assets/icons/HBO.svg" slot="start"></ion-icon>
				<ion-label>
					<h2>HBO</h2>
					<ion-text color="medium">$29/ Month</ion-text>
				</ion-label>
			</ion-item>
		</ion-card-content>
	</ion-card>
</ion-content>
