ion-toolbar {
	ion-icon {
		border: 1px solid;
		border-radius: 50px;
	}
}

#balance {
	font-weight: bold;
    font-size: 18px;
}

#card-number, #cvv {
	font-weight: bold;
    font-size: 14px;
}

#cvv {
	font-style: italic;
}
