ion-tab-bar {
    border: none;
    box-shadow: var(--ion-bar-shadow);
    padding: var(--ion-bar-padding);
}

ion-tab-button.has-circle {
    --color: #ffffff;

    & > div {
        background: #000;
        border-radius: 50px;
        padding: 7px;
    }
    
    ion-icon {
        font-size: 30px;
    }
}